/* styles.css */

.reyes {
  border-radius: 12px;
  border: 1px solid black;
  font-size: 2em;
  color: white;
  text-align: center;
  padding: 2px 15px 20px;
  box-sizing: border-box; /*esto mete los pixeles del padding por dentro para que quepan 2 cajas por fila*/
  margin-bottom: 10px;
  width: 47%;
  }

  .cajaCentral{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  img{
    width: 100%;
  }
  
  
