.contenedor {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.rey{
  width: 30%;
  border-radius: 12px;
  border: 1px solid black;
  font-size: 2em;
  color: black;
  text-align: center;
  padding: 12px;
  margin: 20px;
}

img{
  width: 100%;
}
